@font-face {
  font-family: "Montserrat-Regular";
  src: url(../fonts/Montserrat-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: 700;
}
* {
  box-sizing: border-box;
}

.fix-size-container {
  max-width: 1920px;
  min-width: 375px;
  margin: 0 auto;
  padding: 0 60px;
}

.container {
  font-family: "Montserrat-Regular";
  color: #FFFFFF;
}

a {
  text-decoration: none;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.background-gradient {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0px 0px 12px 12px;
}

@media (min-width: 1920px) {
  .fix-size-container {
    padding: 0 160px;
  }
}
@media (max-width: 768px) {
  .fix-size-container {
    padding: 0 30px;
  }
}
.container__close-btn {
  display: none;
}

.btn-scroll__img-hover {
  display: none;
}

.btn-scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 30px auto;
  width: 42px;
  height: 42px;
  background: #323264;
  border-radius: 50% 50%;
  border: 2px solid #FFFFFF;
}
.btn-scroll:hover {
  border-color: #F0145A;
}
.btn-scroll:hover .btn-scroll__img {
  display: none;
}
.btn-scroll:hover .btn-scroll__img-hover {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .container__close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px 0 auto;
    width: 32px;
    height: 32px;
    border-radius: 8px;
    border: none;
    background: #FFFFFF;
  }
  .container__close-btn:active {
    background: #E6E6F0;
  }
}
.header-container {
  padding-top: 50px;
}

.header-container__inner {
  display: grid;
  grid-template-rows: repeat(3, 20px);
  grid-template-columns: 50% 50%;
  grid-template-areas: "header-logo header-contacts" "header-logo ..." "header-logo header-nav";
}

.header-container__logo {
  grid-area: header-logo;
}

.header-container__contacts {
  grid-area: header-contacts;
  justify-self: flex-end;
  width: 478px;
  right: 160px;
}

.header-container__lang {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat-Bold";
  color: #FFFFFF;
  width: 33px;
  height: 25px;
  font-size: 12px;
  line-height: 15px;
}
.header-container__lang:hover {
  background: #ffffff33;
  border-radius: 8px;
}
.header-container__lang:active {
  background: #F0145A;
}

.header-container__address {
  color: #B3B3BA;
}

.header-container__tel {
  font-family: "Montserrat-Bold";
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
}

.header-container__social-link {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-image: url("../images/Facebook-Header.svg");
}
.header-container__social-link:hover {
  background-image: url("../images/Facebook_icon_red.svg");
}

.header-container__sidebar-btn {
  display: none;
}

.header-container__nav {
  grid-area: header-nav;
  justify-self: flex-end;
  width: 416px;
}

.header-container__nav-item {
  position: relative;
}
.header-container__nav-item a {
  font-family: "Montserrat-Bold";
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
}
.header-container__nav-item a:active {
  color: #F0145A;
}
.header-container__nav-item::after {
  content: "";
  display: none;
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: #FFFFFF;
  top: 100%;
  left: 0;
  z-index: 1;
}
.header-container__nav-item:hover::after {
  display: block;
}
.header-container__nav-item:active::after {
  background-color: #F0145A;
}

@media (max-width: 1024px) {
  .header-container__inner {
    grid-template-rows: 20px 120px 20px;
    grid-template-columns: 50% 50%;
    grid-template-areas: "header-contacts header-contacts" "header-logo header-logo" "header-nav header-nav";
  }

  .header-container__logo {
    align-self: center;
  }

  .header-container__contacts,
.header-container__nav {
    justify-self: flex-start;
  }
}
@media (max-width: 768px) {
  .header-container {
    padding-top: 0;
  }
  .header-container .fix-size-container {
    padding: 0;
  }

  .header-container__inner {
    grid-template-rows: 45px 60px;
    grid-template-columns: 50% 50%;
    grid-template-areas: "header-contacts header-contacts" "header-logo header-nav";
  }

  .header-container__contacts {
    width: 100%;
    padding: 10px 15px;
    background: #f5f5fa33;
  }

  .header-container__logo {
    padding-left: 15px;
  }

  .header-container__logo-img {
    width: 70px;
    height: 30px;
  }

  .header-container__tel {
    margin-left: auto;
  }

  .header-container__dot,
.header-container__address,
.header-container__social-link {
    display: none;
  }

  .header-container__nav {
    width: 100%;
    padding-right: 15px;
    align-self: center;
    position: relative;
  }
  .header-container__nav:hover .header-container__nav-list {
    display: flex;
  }

  .header-container__sidebar-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 32px;
    height: 32px;
    border-radius: 8px;
    border: none;
    background-color: #323264;
  }
  .header-container__sidebar-btn:active {
    background: #E6E6F0;
  }

  .header-container__nav-list {
    display: none;
    position: absolute;
    top: 100%;
    right: 15px;
    width: 359px;
    height: 351px;
    background: #FFFFFF;
    border-radius: 12px 12px 0px 0px;
    flex-direction: column;
  }

  .header-container__nav-item {
    width: 335px;
    height: 43px;
    background: #F5F5FA;
    border-radius: 12px;
    text-align: center;
  }
  .header-container__nav-item a {
    display: block;
    width: 335px;
    height: 43px;
    font-size: 24px;
    line-height: 43px;
    color: #24A3FF;
  }
  .header-container__nav-item:active {
    background: #E6E6F0;
  }
  .header-container__nav-item:active::after {
    display: none;
  }
}
.background-symbol-h {
  background-image: url("..//images/h_symbol.svg");
  background-repeat: no-repeat;
  background-size: 700px 800px;
  background-position: center top;
}

.title-container {
  padding-top: 260px;
}

.title-container__text {
  margin-bottom: 305px;
  font-family: "Montserrat-Bold";
  color: #FFFFFF;
  font-size: 38px;
  line-height: 46px;
  text-align: center;
}

.info-container {
  padding: 60px 0;
  justify-content: center;
}

.info-container__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px 60px 10px 0;
  width: 435px;
  height: 305px;
}
.info-container__list .info-container__link {
  font-size: 38px;
  line-height: 46px;
  font-family: "Montserrat-Bold";
  color: #B3B3BA;
}

.info-container__line {
  margin: 0;
  border: none;
  width: 4px;
  height: 305px;
  background: #ffffff4d;
  transform: rotate(180deg);
}

.info-container__item {
  margin-left: 60px;
}

.info-container__item-title {
  width: 580px;
  margin-bottom: 30px;
  font-family: "Montserrat-Bold";
  color: #FFFFFF;
  font-size: 30px;
  line-height: 37px;
}

.info-container__item-text {
  width: 580px;
  font-size: 19px;
  line-height: 30px;
}

@media (min-width: 1920px) {
  .background-symbol-h {
    background-size: 870px 1000px;
  }

  .title-container {
    padding-top: 360px;
  }

  .title-container__text {
    margin-bottom: 405px;
  }

  .info-container__item-text {
    width: 860px;
  }
}
@media (max-width: 1440px) {
  .background-symbol-h {
    background-size: 670px 770px;
  }

  .title-container {
    padding-top: 250px;
  }

  .title-container__text {
    margin-bottom: 290px;
  }

  .info-container__item-title,
.info-container__item-text {
    width: 405px;
  }
}
@media (max-width: 1024px) {
  .background-symbol-h {
    background-size: 890px 1024px;
  }

  .title-container {
    padding-top: 275px;
  }

  .title-container__text {
    margin-bottom: 415px;
  }

  .info-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .info-container__list {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 60px;
    width: 1246px;
    height: 46px;
  }

  .info-container__line {
    width: 100%;
    height: 4px;
    margin-bottom: 60px;
  }

  .info-container__item {
    margin-left: 0;
  }

  .info-container__item-title,
.info-container__item-text {
    width: 648px;
  }
}
@media (max-width: 768px) {
  .background-symbol-h {
    background-size: 520px 600px;
  }

  .title-container {
    padding-top: 130px;
  }

  .title-container__text {
    width: 315px;
    margin: 0 auto 160px auto;
  }

  .info-container {
    padding: 30px 0;
  }

  .info-container__list .info-container__link {
    font-size: 30px;
    line-height: 37px;
  }

  .info-container__item-title {
    width: 315px;
    font-size: 20px;
    line-height: 24px;
  }

  .info-container__item-text {
    width: 315px;
    font-size: 19px;
    line-height: 30px;
  }
}

/*# sourceMappingURL=homepage.css.map */
