.container__close-btn{
    display: none;
}

.btn-scroll__img-hover {
    display: none;
}

.btn-scroll {
    @include flex-center;
    position: relative;
    margin: 0 auto 30px auto;
    width: 42px;
    height: 42px;
    background: $main-bg;
    border-radius: 50% 50%;
    border: 2px solid $white-bg;

    &::after {
        content: "";
        width: 10px;
        height: 10px;
        border-top:  2px solid #FFFFFF;
        border-right:  2px solid #FFFFFF;
        position: absolute;
        top: 45%;
        transform: translateY(-50%) rotate(135deg);
    }

    &:hover {
        border-color: $accent-color;
    }

    &:hover::after {
        border-top: 2px solid $accent-color;
        border-right: 2px solid $accent-color;
    }
}

.button-dot {
    margin: 0 auto;
    width: 78px;
}

.button-dot__item {
    width: 16px;
    height: 16px;
    border: none;
    border-radius: 50%;
    background-color: #24A3FF;
    opacity: 0.2;

    &:hover {
        opacity: 0.6;
    }
}

.button-dot__item_active {
    opacity: 1;
}



@media (max-width: 768px) {
    .container__close-btn {
        @include flex-center;
        margin: 10px 10px 0 auto;
        width: 32px;
        height: 32px;
        border-radius: 8px;
        border: none;
        background: $white-bg;

        &:active {
            background: #E6E6F0;
        }
    } 
}