.card-container {
    padding-bottom: 60px;
}

.container__link {
    color: $blue-text;
    position: relative;
    font-family: $bold-font;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 10px;

    &:hover {
        color: $accent-color;
    }

    &::after {
        content: "";
        position: absolute;
        display: block;
        width: 4.5px;
        height: 4.5px;
        border-top: 2px solid #24A3FF;
        border-left: 2px solid #24A3FF;
        top: 35%;
        right: -8px;
        transform: rotate(135deg);
    }

    &:hover::after {
        border-top: 2px solid $accent-color;
        border-left: 2px solid  $accent-color;
    } 
}

.card-container__title {
    margin-bottom: 60px;
    background: $text-red-gradient;
    @include gradient-text;
    @include title-bold-text;
}

.card-container__list {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    justify-content: center;
}

.card-container__item {
    display: block;
}

.card-container__item-logo {
    margin-bottom: 30px;
    @include flex-center;
    width: 92px;
    height: 92px;
    background: $white-bg;
    border-radius: 24px;
}

.card-container__item-title {
    font-family: $bold-font;
    margin-bottom: 15px;
    font-size: 22px;
    line-height: 27px;
    color: $blue-text;

    &:hover {
        color: $accent-color;
    }
}

.card-container__item-text {
    color: $white-text;
    font-size: 16px;
    line-height: 26px;
}

.card-container__team {
    display: flex;
    justify-content: flex-start;
    background: #F5F5FA;
    border-radius: 12px;
    margin-top: 80px;
    margin-bottom: 30px;
    padding-bottom: 0;
}

.card-container__team-foto {
    width: 400px;
    height: 344px;
    object-fit: cover;
    border-radius: 12px 0 0 12px;
}

.card-container__team-item {
    padding: 30px;
}

.card-container__title-team {
    width: 100%;
    margin-bottom: 30px;
}

.card-container__team-name {
    font-family: $bold-font;
    margin-bottom: 6px;
    color: $grey-text;
    font-size: 16px;
    line-height: 20px;
}

.card-container__team-post {
    color: $grey-text;
    font-size: 14px;
    line-height: 22px;
}

.card-container__clients-wrap {
    & .fix-size-container {
        padding: 0;
    }

    & .card-container {
        padding-bottom: 0;
    }
}

.card-container__clients {
    padding-top: 60px;
}

.card-container__clients-title {
    font-family: $bold-font;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #323264;
}

.card-container__clients-list {
    display: grid;
    grid-template-rows: repeat(3, 120px);
    grid-template-columns: repeat(4, 1fr);
}

.card-container__clients-item {
    @include flex-center;
}

.clients-item_hilel {
    background: #1C4280;
}

.clients-item_wannabiz {
    background: #143646;
}

.clients-item_tapgerine {
    background: linear-gradient(0deg, #F48B30, #F48B30), #F48B30;
}

.clients-item_3dlook {
    background: #9E4DC3;
}

.clients-item_orangear {
    background: #FD9339;
}

.clients-item_adtelligent {
    background: #E2E2E4;
}

.clients-item_clikky {
    background: #C71C36;
}

.clients-item_ecoleasing {
    background: #DCF3F9;
}

.clients-item_infratek {
    background: #EAEAEA;
}

.clients-item_citypark {
    background: #282240;
}

.clients-item_artprint {
    background: #1D4568;
}

.clients-item_ultimate {
    background: #000000;
}

.container__publications-background {
    background: #F5F5FA;
}

.card-container__publications {
    padding: 30px 0;

    & .card-container__title {
        margin-bottom: 30px;
    }
}

.card-container__publications-list {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    & .card-container__item {
        background: #ffffff;
        width: 100%;
        height: 100%;
        border-radius: 0 0 8px 8px;
    }
}

.card-container__publications-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.card-container__publications-info {
    padding: 30px;
}

.card-container__publications-title {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 20px;
}

.card-container__publications-date {
    font-family: $bold-font;
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $grey-text;
}

.card-container__publications-line {
    border: none;
    width: 100%;
    height: 4px;
    background: #E6E6F0;
}

.card-container__publications-text {
    font-size: 14px;
    line-height: 22px;
    color: #000000;
}

@media (min-width: 1920px) {
    
    .card-container__team-foto {
        height: 300px;
    }
    
    .card-container__clients-wrap {
        & .fix-size-container {
            padding: 0 100px;
            }
    }

    .card-container__clients {
        margin-bottom: 60px;
    }

    .clients-item_hilel {
        border-radius: 12px 0 0 0;
    }
    
    .clients-item_3dlook { 
        border-radius: 0 12px 0 0;
    }

    .clients-item_infratek {
        border-radius: 0 0 0 12px;
    }

    .clients-item_ultimate {
        border-radius: 0 0 12px 0;
    }
}

@media (max-width: 1440px) {

    .card-container__team-foto {
        height: 528px;
    }
}

@media (max-width: 1024px) {
    .card-container__list {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }
    
    .card-container__team {
        flex-direction: column;
        width: 648px;
        margin-left: auto;
        margin-right: auto;
    }

    .card-container__team-foto {
        width: 648px;
        height: 500px;
        border-radius: 12px 12px 0 0 ;
    }

    .card-container__clients-list {
        grid-template-rows: repeat(4, 120px);
        grid-template-columns: repeat(3, 1fr);
    }

    .card-container__publications-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .card-container__publications_long {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media (max-width: 768px) {
    .card-container__title {
        margin-bottom: 30px;
        font-size: 30px;
        line-height: 37px;
    }

    .card-container__list {
        grid-template-rows: auto;
        grid-template-columns: 100%;
        gap: 30px;
    }

    .card-container__team,
    .card-container__team-foto {
        width: 100%;
    }

    .card-container__clients-list {
        grid-template-rows: repeat(6, 120px);
        grid-template-columns: 1fr;
    }

    .clients-item_clikky,
    .clients-item_ecoleasing,
    .clients-item_infratek,
    .clients-item_citypark,
    .clients-item_artprint,
    .clients-item_ultimate {
        display: none;
    }

    .card-container__publications-list {
        display: block;
        & .card-container__item {
            margin-bottom: 30px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}
