.footer-container {
    padding-bottom: 30px;
    background: #F5F5FA;
    font-size: 16px;
    line-height: 20px;
}

.footer-container__line {
    margin: 0 0 30px 0;
    width: 100%;
    height: 2px;
    background: #E6E6F0;
    border: none;
}

.footer-container__contacts {
    display: flex;
    justify-content: space-between;
}

.footer-container__address {
    width: 280px;
    margin-bottom: 20px;
}

.footer-container__address-text {
    position: relative;
    color: #323264;

    &::after {
        @include dot;
        background: #B3B3BA;
        right: -15px;
    }
}

.footer-container__map-link {
    font-family: $bold-font;
    color: $blue-text;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;

    &:hover {
        color: $accent-color;
    }
}

.footer-container__media {
    width: 380px;
}

.footer-container__social-link {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-image: url("../images/Facebook_footer.svg");

    &:hover {
        background-image: url("../images/Facebook_footer_red.svg");
    }
}

.footer-container__tel {
    position: relative;
    font-family: $bold-font;
    color: #46466E;

    &:hover {
        color: $accent-color;
    }

    &::before {
        @include dot;
        background: #B3B3BA;
        left: -15px;
    }

    &::after {
        @include dot;
        background: #B3B3BA;
        right: -20px;
    }
}

.show-popup {
    border: none;
    background: transparent;
    font-family: $bold-font;
    color: $blue-text;

    &:hover {
        color: $accent-color;
    }
}

.footer-container__rights {
    align-self: flex-start;
}

.footer-container__rights-text {
    color: #B3B3BA;;
}

// Popup elements style

.popup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(50, 50, 100, 0.7);
    display: none;
}

.popup.show {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-card {
    position: relative;
    width: 650px;
    background: #F5F5FA;
    box-shadow: 0px 15px 80px #28285680;
    border-radius: 12px;
    padding: 30px;

    & .hide {
        @include flex-center;
        background: #F5F5FA;
        position: absolute;
        top: 20px;
        right: 20px;
        margin: 0;

        &:hover {
            background: #E6E6F0;
        }
    }
}

.popup-card__title {
    width: 90%;
    margin-bottom: 30px;
}

.popup__input,
.popup__textarea {
    width: 100%;
    padding: 15px;    
    background: $white-bg;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    margin-bottom: 15px;
    outline: none;
    font-family: "Montserrat-Regular";
    font-size: 16px;

    &::placeholder {
        font-family: "Montserrat-Regular";
        font-size: 16px;
        line-height: 26px;
        color: #B3B3BA;
    }

    &:focus {
        border: 1px solid #24A3FF;;
    }
}

.popup__input {
   height: 56px; 
}

.popup__textarea {
    resize: none;
    height: 130px;
}

.popup__text {
    margin-bottom: 15px;
    font-family: $bold-font;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #B3B3BA;
}

.popup-card__submit {
    height: 56px;
    width: 100%;
    border: none;
    background: #24A3FF;
    box-shadow: 0px 0px 20px #24a3ff80;
    border-radius: 12px;
    margin-bottom: 0;
    cursor: pointer;
    color: $white-text;
    font-family: $bold-font;
    font-size: 16px;
    line-height: 20px;

    &:hover {
        background: #0085FF;
    }

    &:active {
        background: #006CCF;
    }
}

@media (max-width: 1024px) {
    .footer-container__contacts {
        flex-direction: column;
        align-items: center; 
    }

    .footer-container__contacts-list {
        margin-bottom: 30px;
    }

    .footer-container__rights {
        align-self: center;
    }
}

@media (max-width: 768px) {
    .footer-container__address,
    .footer-container__media {
        flex-direction: column;
        width: 100%;
    }

    .footer-container__social-link {
        margin-bottom: 10px;
    }

    .footer-container__address-text {
        margin-bottom: 10px;

        &::after {
            display: none;
        }
    }

    .footer-container__tel {
        margin-bottom: 10px;
        
        &::after,
        &::before {
            display: none;
        }
    }

    .popup-card {
        height: 100vh;
        width: 100vw;
        border-radius: 0;
    }
}