@font-face {
    font-family: "Montserrat-Regular";
    src: url(../fonts/Montserrat-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url(../fonts/Montserrat-Bold.ttf);
    font-weight: 700;
}

* {
    box-sizing: border-box;
}

.fix-size-container {
    max-width: 1920px;
    min-width: 375px;
    margin: 0 auto;
    padding: 0 60px;
}

.container {  
    background: $white-bg;  
    font-family: "Montserrat-Regular";
    color: $white-text;
}

a {
    text-decoration: none;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.background-gradient {
    background: $gradient-supersoft;
    border-radius: 0px 0px 12px 12px;
    box-shadow: 0 40px 0 -30px #CACADB,
                0 80px 0 -60px #E7E7F2;    
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
} 

@mixin white-bold-text {
    font-family: "Montserrat-Bold";
    color: $white-text;
}

@mixin title-bold-text {
    font-size: 38px;
    line-height: 46px;
    font-family: "Montserrat-Bold";
}

@mixin gradient-text {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}


@media (min-width: 1920px) {
    .fix-size-container {
        padding: 0 160px;
    }
}

@media (max-width: 768px) {

    .fix-size-container {
        padding: 0 30px;
    }
}