@font-face {
    font-family: "Montserrat-Regular";
    src: url(../fonts/Montserrat-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: $bold-font;
    src: url(../fonts/Montserrat-Bold.ttf);
    font-weight: 700;
}

* {
    box-sizing: border-box;
}

.fix-size-container {
    max-width: 1920px;
    min-width: 375px;
    margin: 0 auto;
    padding: 0 60px;
}

.container {  
    background: $white-bg;  
    font-family: "Montserrat-Regular";
    color: $white-text;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.background-gradient {
    position: relative;
    background: $gradient-supersoft;
    border-radius: 0px 0px 12px 12px;
      
    &::after {
        content: "";
        position: absolute;
        height: 10px;
        background: #cacadb;
        top: 100%;
        bottom: 0;
        left: 20px;
        right: 20px;
        border-radius: 0 0 12px 12px;
    }

    &::before {
        content: "";
        position: absolute;
        height: 20px;
        background: #e7e7f2;
        top: 100%;
        bottom: 0;
        left: 40px;
        right: 40px;
        border-radius: 0 0 12px 12px;
    }
}

.entry-page-container {
    padding-left: 120px;
    padding-right: 120px;
    margin-bottom: 80px;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
} 

@mixin dot {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #E6E6F0;;
    top: 50%;
    transform: translateY(-50%);
} 

@mixin white-bold-text {
    font-family: $bold-font;
    color: $white-text;
}

@mixin title-bold-text {
    font-size: 38px;
    line-height: 46px;
    font-family: $bold-font;
}

@mixin gradient-text {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

@media (min-width: 1920px) {
    .fix-size-container {
        padding: 0 160px;
    }
}

@media (max-width: 1440px) {
    .entry-page-container {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 768px) {

    .fix-size-container {
        padding: 0 30px;
    }
}